{% extends 'base.html' %}

{% block title %}
Add New Blog Post
{% endblock %}

{% block content %}

{% if user.is_authenticated%}
    <h1>Add blog here !</h1>

    <div class="form-group">
    <form action="" method = "POST">
    {% csrf_token %}
    {{form.as_p}}
    <input class="btn btn-primary" type="submit" value="Post"></input>
    </form>
    </div>

    <script type='text/javascript'>
        var name = "{{user}}";
        document.getElementById("user").value = name;

    </script>

{% else %}
    <h3>You are not allowed here !!</h3>
{% endif %}

{% endblock %}